* {
  font-family: 'Fira Code', 'Fira Mono';
}
#BigBoy {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: cyan;
}
#ThePic {
  margin: auto;
  margin-left: 20px;
  text-align: center;
  background-color: #1e7a7a;
  min-width: 200px;
}
#ThePic img {
  max-width: 75%;
}
#TheKid {
  max-height: 50%;
  margin-left: 20px;
}
#stars {
  cursor: pointer;
  font-size: 200%;
  text-align: center;
  color: #b4b4b4;
}
.filledStar {
  color: #371071;
}
